* {
    margin: 0;
    padding: 0;
}

.backleft.ii.fas.fa-chevron-left.disable {
    opacity: 0.2;
}

.backright.ii.fas.fa-chevron-right.disable {
    opacity: 0.2;
}

.introduce_hover {
    display: none;
    width: 62px;
    height: 3px;
    background: white;
    /* margin-bottom: -38px; */
    position: absolute;
    margin-top: 33px;
}

.introduce_hover_main {
    width: 62px;
    height: 3px;
    background: white;
    /* margin-bottom: -38px; */
    position: absolute;
    margin-top: 33px;
}

.hover_introduce:hover .introduce_hover {
    display: block;
}

button.slick-prev, button.slick-next {
    display: none !important;
}

.slide_event.active {
    background: blue;
}

.nav a {
    text-decoration: none;
    color: white;
}

.container_header {
    width: 100%;
    height: 90px;
    background: red;
    display: flex;
    position: fixed;
    z-index: 10;
}

.logo {
    width: 60px;
    height: 30px;
    padding: 0px 105px;
}

.image_logo {
    height: 62px;
    padding-top: 28px;
    border-right: 1px solid white;
    width: 20%;
}

.nav {
    display: flex;
    padding-left: 101px;
    color: white;
    align-items: center;
}

.search {
    color: white;
    padding: 8px;
    border-radius: 18px;
    padding-top: 10px;
}

.search:hover {
    background: white;
    color: red;
}

.english:hover {
    background: white;
    color: red;
}

#search {
    padding-right: 10px;
}

.english {
    color: white;
    border-radius: 17px;
    padding: 6px;
    border: 1px solid white;
    background: red;
}

.sub-service, .sub-project, .sub-events, .sub-news, .sub-recruitment {
    display: none;
    background: white;
}

.nav_child>ul {
    position: absolute;
    top: 88px;
    width: 320px;
}

.nav_child>ul>li {
    line-height: 26px;
    list-style: none;
    padding: 12px;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 1px solid;
}

.nav_child:hover .sub-service {
    display: block;
}

.nav_child:hover .sub-events {
    display: block;
    width: 187px;
}

.nav_child:hover .sub-project {
    display: block;
    width: 259px !important;
}

.nav_child:hover .sub-news {
    display: block;
    width: 195px;
}

.nav_child:hover .sub-recruitment {
    display: block;
}

.right_nav {
    display: flex;
    align-items: center;
}

.nav_child {
    padding: 0 20px;
}

.image_single {
    width: 100%;
    height: 600px;
    padding-top: 50px;
    object-fit: fill;
}

.sdh {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#sdh {
    width: 90%;
    height: 0 auto;
}

.back_left {
    position: absolute;
    top: 50%;
    left: 20px;
    color: white;
    font-size: 30px;
}

.back_right {
    position: absolute;
    top: 50%;
    right: 20px;
    color: white;
    font-size: 30px;
}

.business_areas {
    font-size: 30px;
    padding-left: 30px;
    border-left: 1px solid rgb(112, 111, 111);
    margin-left: 300px;
    line-height: 120px;
    font-weight: 900;
    color: rgb(148, 146, 146);
    
}


.business_top {
    border-left: 1px solid rgb(74, 74, 80);
}

.business_bottom {
    display: flex;
}

#image_business {
    height: 444px;
    width: 541px;
}

.aspects {
    margin-left: 270px;
    /* border-left: 1px solid rgb(112, 111, 111); */
    padding-left: 30px;
}

.business_bottom {
    background: red;
    height: 464px;
}

.aspects>ul {
    list-style: none;
    font-size: 30px;
    color: white;
    padding-top: 50px;
    padding-right: 67px;
    width: 100%;
}

.aspects ul>li {
    padding: 15px 0px;
}

.link-load {
    color: white;
    text-decoration: none;
}

.caret_right {
    display: none !important;
}

.lifirst:hover .caret_right {
    display: inline !important;
}

.image_news {
    width: 100%;
    overflow: hidden;
}

/* #container_news_child {
    width: 50%;
} */

#news {
    display: flex;
    padding: 0 30px;
}

.news {
    font-size: 36px;
    font-weight: 700;
    color: rgb(75, 74, 74);
    text-align: center;
    padding-top: 55px;
    padding-bottom: 44px;
}

.box_news_first {
    border: 1px solid #ddd;
    flex: 1;
    display: block;
    padding: 15px;
    margin: 0px 30px;
    width: 87%;
    height: 480px;
}
.all_news{
    width: 50%;
    position: relative;
}
.box_news_first:hover {
    background: red;
    color: white;
}

.image_news_first {
    overflow: hidden;
}

#image_news_first {
    display: block;
    height: 270px;
}

.box_news_second {
    flex: 1;
    padding-left: 30px;
}

.text_prize {
    padding: 11px 0px;
    width: 88%;
}

#text_prize {
    display: block;
    font-size: 18px;
    
}

.box_news_child {
    display: flex;
    margin-bottom: 10px;
    border: 1px solid#ddd;
    width: 94%;
    height: 77px;
    
}

.box_news_child:hover {
    background: red;
    color: white;
}

.box_news_child:hover .day {
    color: white;
}

.day {
    font-size: 30px;
    color: rgb(190, 190, 190);
}

.day_month {
    margin: 10px 18px;
    border-right: 1px solid red;
    padding-right: 26px;
}

.title_day_month {
    padding-top: 14px;
    font-size: 15px;
    padding-right: 10px;

}

.backleft_news {
    font-size: 47px;
    color: rgb(190, 190, 190);
    top: 35%;
    left: -13px;
    position: absolute;
}

.backright_news {
    font-size: 43px;
    color: rgb(190, 190, 190);
    position: absolute;
    top: 35%;
    right: 14px;
}
.btn_news {
    padding: 10px 30px;
    background: red;
    border: none;
    color: white;
    font-size: 20px;
}

.btn_news:hover {
    cursor: grab;
}

#event_container {
    display: flex;
    justify-content: center;
}

.event1 {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.event {
    font-size: 40px;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
}

.line {
    height: 1px;
    width: 100%;
    background: rgb(190, 190, 190);
}

.container_event {
    margin-top: 85px;
    padding-top: 87px;
    background: rgb(228, 226, 226);
}

.event_happen {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 300;
}

#event_happen {
    background: red;
    width: 206px;
    text-align: center;
    padding: 11px;
}

.btn_event {
    display: inline-block;
    padding: 12px;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#image_event {
    align-items: center;
    flex-direction: column;
    display: flex;
}

.image_event {
    display: flex;
    height: 294px;
    padding-top: 20px;
    width: 80%;
}

.ta {
    width: 250px;
    height: 176px;
}

.image_event_child {
    width: 250px !important;
    padding: 5px;
    margin-right: 10px;
    background: white;
    position: relative;
}

.image_event_child_behind {
    width: 267px;
    padding: 5px;
    margin-right: 10px;
    background: white;
    position: relative;
}

.backleft_event {
    position: absolute;
    font-size: 40px;
    margin-top: 154px;
    color: rgb(185, 185, 185);
    left: 40px;
}

.backright_event {
    position: absolute;
    font-size: 40px;
    margin-top: -154px;
    color: rgb(185, 185, 185);
    right: 62px;
}

.day_event {
    position: absolute;
    background: rgb(230, 228, 228);
    width: 75px;
    height: 71px;
    left: 0px;
    top: 0px;
}

.image_event_child:hover, .image_event_final:hover {
    background: red;
}

.image_event_child:hover .numberseven, .image_event_child:hover .day_year_event, .image_event_child:hover .text_event, .image_event_final:hover .numberseven, .image_event_final:hover .day_year_event, .image_event_final:hover .text_event {
    color: white;
}

.day_event_final {
    display: flex;
}

#ik {
    flex: 3;
    display: flex;
}

.numberseven {
    font-size: 28px;
    padding-left: 18px;
    padding-top: 5px;
    color: rgb(185, 185, 185);
}

.day_year_event {
    padding-left: 5px;
    padding-bottom: 9px;
    padding: 5px 0 9px 8px;
    color: rgb(119, 118, 118);
}

.text_event {
    color: red;
    font-size: 16px;
}

.see_event {
    padding: 12px 30px;
    background: red;
    border: none;
    color: white;
    margin: 20px 0 70px 0;
}

.slide_event_first {
    width: 25px;
    height: 4px;
    background-color: rgb(129, 127, 127);
    margin: 1px 3px;
}

#slick-slide-control11, #slick-slide-control10, #slick-slide-control12 {
    content: '' !important;
    width: 20px;
    height: 4px;
    background-color: rgb(129, 127, 127);
    margin: 1px 3px;
    padding: 0 !important;
    /* opacity: 0.25; */
}

#slick-slide-control13, #slick-slide-control13 {
    content: '' !important;
    width: 20px;
    height: 4px;
    background-color: rgb(129, 127, 127);
    margin: 1px 3px;
    padding: 0 !important;
}

.slick-dots li button:before {
    content: ''!important;
    width: 0 !important;
    height: 0 !important;
}

.slick-dots li {
    opacity: 0.25;
}

.slick-dots li.slick-active {
    opacity: 1 !important;
    color: black;
}

.slick-dots>li {
    height: 4px !important;
}

.slick-dots li {
    width: 25px !important;
    height: 4px !important;
}

.slide_event_child_end {
    width: 25px;
    height: 4px;
    background-color: rgb(129, 127, 127);
    margin: 1px 3px;
}

.slide_event_child {
    border: 1px solid;
}

#slide_event {
    display: flex;
    margin-top: 25px;
}

.slide_news {
    position: absolute;
    display: flex;
    padding-top: 38px;
    padding-left: 18%;
}

.slide_event_end {
    display: flex;
    padding-top: 20px;
}

.slide_event_child_end.active {
    background: blue;
}

.slide_event:hover {
    background-color: blue;
}

.cotainer_project {
    padding-top: 50px;
}

.title_project {
    font-size: 52px;
    padding: 60px 0 40px;
    text-align: center;
    color: #666;
}

.triangle {
    width: 96px;
    height: 46px;
    background: #666;
    position: relative;
    top: -22px;
    left: 91px;
    clip-path: polygon(40% 0%, 85% 50%, 0% 50%, 0% 50%);
}

.text_project {
    top: -77px;
    padding: 50px 30px;
    color: #fff;
    height: 143px;
    position: relative;
}

#ta {
    flex: 1;
    display: flex;
}

.image_project {
    height: 270px;
    max-width: 100%;
}

.image_text_project .triangle {
    background: #666;
}

.image_text_project {
    background: #666;
    height: 270px;
}

.image_text_project:hover {
    background: red;
}

.image_text_project:hover .poligon {
    background: red;
}

.image_text_project:hover .triangle {
    background: red;
}

.image_text_project:hover .triangle_box {
    background: red;
}

.text_project_first {
    max-width: 158px;
    padding: 0 0 10px;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 700;
}

.text_project_second {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    margin: 0 0 10px;
    display: block;
    max-height: 133px;
}

.triangle_box {
    width: 78px;
    height: 50px;
    background: #666;
    position: relative;
    top: 130px;
    left: 83%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 50% 0%);
}

#container_project_first {
    display: flex;
    height: 270px;
    width: 100%;
}

.box-news-home {
    display: flex;
}

.poligon {
    left: -37px;
    top: 140px;
    width: 78px;
    height: 50px;
    background: #666;
    position: relative;
    clip-path: polygon(50% 0, 50% 50%, 50% 100%, 0 50%);
}

.image_final {
    position: relative;
    display: block;
    width: 560px;
    height: auto;
    max-height: 380px;
}

.project_final_child {
    position: relative;
    display: block;
    height: 380px;
    width: 580px;
    padding: 50px 30px 50px 160px;
}

#container_project_final {
    display: flex;
    background: red;
    padding: 60px 0;
    position: relative;
    top: -5px;
}

.project_final_child_child {
    border: 10px solid rgba(0, 0, 0, 0.1);
}

.project_final_child_child:hover {
    background: white;
    border: 10px solid #fff;
}

.container_project_final {
    display: flex;
}

.project_final_text {
    padding: 50px 30px 50px 120px;
    width: 269px;
    position: relative;
}

.text_project_final {
    padding-top: 23px;
    font-size: 22px;
    color: white;
    line-height: 1.5;
}

.title_text_child {
    font-size: 30px;
    color: white;
}

.icon_project_left_child {
    font-size: 20px;
    color: white;
    padding: 10px 11px;
}

.icon_project_right_child {
    font-size: 20px;
    padding: 11px 15px;
    color: white;
}

.back_drka_left {
    position: absolute;
    top: 46%;
    left: 54px;
}

.back_drka_right {
    position: absolute;
    top: 46%;
    right: -49px;
}

.back_drka_right:hover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

.back_drka_left:hover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

#partner_title {
    display: flex;
}

.partner_title_child {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 1px;
    margin-top: 20px;
    background: black;
}

.title_partner {
    font-size: 40px;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    font-weight: 900;
    color: rgb(109, 108, 108);
}

#container_partner {
    padding-top: 30px;
}

div.company_partner_child {
    width: 200px !important
}

.company_partner {
    display: flex;
    position: relative;
    padding: 0px 75px 0 75px;
}

.image_partner {
    max-width: 200px;
    height: 122px;
    display: block;
}

.all_image_partner {
    position: relative;
}

.backleft_partner {
    font-size: 38px;
    position: absolute;
    top: 40px;
    left: 17px;
    color: #666;
    z-index: 1;
}

.backright_partner {
    font-size: 38px;
    position: absolute;
    top: 40px;
    right: 17px;
    color: #666;
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 42px;
}

#footer {
    display: flex;
}

.right_footer {
    background: red;
    width: 40%;
    height: auto;
    padding: 50px 10% 0 10%;
}

.title_footer {
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.right_footer ul>li {
    display: flex;
    list-style: none;
    color: white;
    padding: 5px 0;
}

.icon_map {
    font-size: 20px;
    padding-right: 12px;
}

.icon_footer {
    font-size: 14px;
    position: absolute;
    margin-left: -3px;
}

.footer_email {
    color: white;
    text-decoration: none;
    padding-left: 22px;
}

.right_footer ul>li>p {
    font-size: 20px;
}

.text_footer {
    padding-left: 22px;
}

.left_footer {
    width: 40%;
    float: left;
    height: 288px;
    background: #666;
}

.newletter h3 {
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 10px;
    color: white;
}

.button-red {
    padding: 16px 17px;
    margin-left: -6px;
    border: none;
    background: red;
    color: white;
}

#emailregister {
    padding: 16px 20px;
    border: none;
}

.newletter {
    padding: 70px 20%;
}

.right_footer_end {
    display: flex;
    padding: 17px 22px;
    border-top: 1px solid rgb(128, 126, 126);
}

.icon_footer_end {
    font-size: 41px;
    color: white;
    opacity: 0.3;
}

.icon_footer_end:hover {
    font-size: 42px;
    color: white;
    opacity: 0.5;
}

.copyright {
    font-size: 13px;
    color: white;
    padding-left: 116px;
    padding-top: 13px;
}

#text_introduce {
    position: absolute;
    top: 0;
    height: 99.5%;
    width: 20%;
    background: rgba(255, 0, 0, 0.5);
    border-right: 0.5px solid rgb(211, 208, 208);
}

.text_introduce_child {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-weight: 900;
}

.image_introduce {
    width: 100%;
    height: 560px;
    object-fit: fill;
}

#image_text_introduce {
    position: relative;
}

#container_directormessage_child_first {
    display: flex;
    width: 100%;
    height: 100px;
}

.text_hollow {
    border-right: 1px solid rgb(211, 209, 209);
    flex: 1;
}

.text_directormessage {
    flex: 4;
}

.text_directormessage h3 {
    padding-left: 100px;
    line-height: 100px;
    font-size: 35px;
    color: rgb(87, 85, 85);
}

.manager {
    width: 300px;
    height: 300px;
}

#container_directormessage_child_final {
    display: flex;
    background: rgb(121, 120, 120);
}

.text_directormessage_final {
    flex: 2;
    padding: 30px 0 40px 70px;
}

.image_manager {
    flex: 1;
    padding-top: 56px;
    position: relative;
}

.text_directormessage_final p {
    color: white;
    padding-top: 20px;
    font-size: 18.5px;
    width: 90%;
    font-weight: 400;
}

.text_director_finalchild {
    width: 300px;
    background: red;
    top: 54%;
    position: absolute;
    color: white;
}

#the_director {
    font-size: 17px;
    font-weight: 700;
    padding: 5px 0 5px 20px;
    text-transform: uppercase;
}

.foundation {
    padding: 0px 0 5px 20px;
    text-transform: uppercase;
}

.text_cultsystem_hollow {
    flex: 1;
    height: 1px;
    background: black;
}

.text_cultsystem {
    flex: 1;
    justify-content: center;
    display: flex;
    font-size: 40px;
    font-weight: 700;
    color: rgb(94, 91, 91);
}

#cult_system_childfirst {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    align-items: center;
}

#cult_system_childfinal {
    display: flex;
    padding: 50px;
}

.cult_system_childfinal_left {
    flex: 1;
}

.cult_system_childfinal_right {
    flex: 1;
}

.core_diagram {
    width: 400px;
    padding: 62px;
}

#vision p, #text_locate p {
    font-size: 20px;
    padding-top: 20px;
    color: rgb(94, 91, 91);
}

#vision h3, #text_locate h3 {
    font-size: 30px;
    color: rgb(94, 91, 91);
}

#vision h4, #text_locate h4 {
    font-size: 26px;
    padding-top: 20px;
    color: rgb(94, 91, 91);
}

#vision div, #text_locate div {
    display: flex;
}

.dots {
    font-size: 49px !important;
    color: rgb(94, 91, 91);
    padding-right: 5px;
}

.text_vision_common p {
    padding-top: 28px !important;
}

.text_locate_common p {
    padding-top: 32px !important;
    color: rgb(94, 91, 91);
}

#text_locate {
    padding-top: 90px;
}

.image_locate {
    width: 400px;
    padding: 70px 0px 0 140px;
}

#overview {
    background: rgb(224, 224, 224);
}

#overview h3 {
    font-size: 33px;
    font-weight: 550;
    text-align: center;
    padding-top: 67px;
}

#overview div {
    width: 841px;
    padding: 35px 253.5px 50px 253.5px;
}

#overview p {
    font-size: 19px;
    line-height: 26px;
    color: rgb(87, 84, 84);
}

#progress {
    background-image: url(http://dkra.vn/pictures/catalog/about/bg1.jpg);
    position: relative;
}

.progress {
    display: flex;
    width: 90%;
    padding-left: 112px;
    z-index: 1;
    padding-top: 10px;
    position: relative;
}

.io {
    width: 249px;
    height: 244px;
    background: rgb(47, 48, 48);
    margin-right: 10px;
}

.year_progress {
    padding-top: 30px;
    font-size: 56px;
    text-align: center;
    font-weight: 900;
    color: white;
}

.hollow_progress {
    display: flex;
    padding: 3px 0 0 0px;
}

.hollow_progress_child {
    height: 1px;
    flex: 1;
    display: flex;
    background: white;
}

.hollow_progress_childhollow {
    display: flex;
    flex: 1;
}

.progress_circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: white;
    margin-left: 48%;
    margin-top: 9px;
}

#slick-slide00, #slick-slide01, #slick-slide02, #slick-slide03, #slick-slide04, #slick-slide05, #slick-slide06, #slick-slide07, #slick-slide08, #slick-slide09, #slick-slide010 {
    background: rgb(105, 104, 104);
    margin-right: 13px;
    height: 240px;
}

.text_progress {
    font-size: 18px;
    height: 100px;
    width: 212px;
    color: white;
    padding: 28px 30px 0 30px;
}

#progress h3 {
    font-size: 30px;
    text-align: center;
    padding: 52px 0 30px 0;
    color: white;
}

.all_back_progress {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 20px;
}

.backleft_progress.same.progress_back.fas.fa-chevron-left.disable, .backright_progress.same.fas.fa-chevron-right.disable {
    opacity: 0.4;
}

.backleft_progress, .backright_progress {
    font-size: 49px;
    color: white;
}

.between_back {
    height: 1px;
    background: white;
    width: 64px;
    margin-top: 24px;
}

.progress_behind {
    height: 1px;
    width: 100%;
    background: white;
    position: absolute;
    top: 55%;
}

#organizational_chart_child {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.organizational_chart_childhollow {
    flex: 1;
    height: 1px;
    background: black;
}

.text_organizational_chart_child {
    flex: 1;
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    color: rgb(61, 61, 61);
}

.img_chart {
    padding: 0px 79px;
}

#leadership_child {
    display: flex;
    align-items: center;
    padding-top: 70px;
}

.leadership_hollow {
    flex: 1;
    height: 1px;
    background: black;
}

.text_leadership {
    text-align: center;
    flex: 1;
    font-size: 35px;
    font-weight: 600;
    color: rgb(58, 57, 57);
}

.imag_leadership {
    width: 118px;
    height: 163px;
    right: 32%;
    padding-top: 49px;
    position: absolute;
}

.imag_leadership_left {
    width: 118px;
    height: 163px;
    left: 36%;
    position: absolute;
}

.item_member_list, .item_member_list_po, .item_member_list_pi {
    display: flex;
    justify-content: center;
    position: relative;
}

.member_list {
    padding: 45px;
}

.member_list li {
    list-style: none;
}

.item_member_list_po .text_item_member_list {
    width: 532px;
    left: 70px;
    position: absolute;
    text-align: right;
}

.item_member_list_po .imag_leadership {
    width: 118px;
    height: 163px;
    right: 32%;
    position: absolute;
}

.item_member_list_po .cirle_member_list_hollow, .item_member_list_pi .cirle_member_list_hollow {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 20px;
    background: red;
    top: -41px;
}

.item_member_list_hollow {
    height: 277px;
    background: red;
    width: 1px;
}

.text_item_member_list {
    width: 532px;
    left: 70px;
    padding-top: 49px;
    position: absolute;
    text-align: right;
}

.text_item_member_list_right {
    width: 532px;
    right: 78px;
    position: absolute;
    text-align: left;
}

.circle_member_list_hollow {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 20px;
    background: red;
    top: 100px;
}

.text_item_member_list h3, .text_item_member_list_right h3 {
    color: red;
    font-weight: 100;
    font-size: 26px;
}

.text_item_member_list p {
    font-size: 18px;
}

.text_item_member_list_right p {
    font-size: 18px;
}

.item_member_list_pi .circle_member_list_hollow {
    top: 80px;
}

.two-column {
    column-count: 2;
    column-gap: 40px;
    padding: 40px 50px;
}

#Outstanding_Award {
    background: red;
}

.Outstanding_Award_child {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.Outstanding_Award_hollow {
    flex: 1;
    background-color: white;
    height: 1px;
}

.text_Outstanding_Award {
    flex: 1;
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 600;
}

.two-column p {
    color: white;
    font-size: 20px;
    padding-bottom: 25px;
}

.img_Outstanding_Award {
    height: 299px;
    position: relative;
}

.img_text_Outstanding_Award {
    display: flex;
    margin-bottom: 20px;
}

.text {
    display: none;
    top: 209px;
    color: white;
    height: 79px;
    width: 435px;
    background: rgb(0, 0, 0, 0.5)
}

.text1 {
    display: none;
    position: absolute;
    top: 261px;
    color: white;
    width: 434px;
    background: rgb(0, 0, 0, 0.5);
}

.shared:hover .text {
    display: block;
}

.shared:hover .text1 {
    display: block;
    top: 185px;
    /* height: 200px; */
}

.shared h3 {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 7px;
    position: absolute;
}

.backleft {
    position: absolute;
    color: white;
    font-size: 53px;
    z-index: 1;
    top: 50%;
    left: 20px;
}

#Outstanding_Award_second {
    position: relative;
}

.backright {
    position: absolute;
    color: white;
    font-size: 53px;
    z-index: 1;
    top: 50%;
    right: 0;
}

.slide-pagination {
    margin: 20px auto 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.slide-page {
    width: 25px;
    height: 4px;
    background: #666;
    opacity: 0.4;
    display: inline-block;
    position: relative;
    margin: 0 3px;
}

#footer_introduce {

    display: flex;
    justify-content: center;
    height: 170px;
    margin-top: 30px;
}

.footer_introduce_child {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 80px;
    background: red;

}

.footer_introduce_child_second {
    display: flex;
    flex: 1;
    align-items: center;
    background: red;

}

.footer_introduce_child h3 {
    font-size: 18px;
    color: white;
    padding-right: 21px;
}

.copyright_introduce {
    font-size: 17px;
    color: white;
    padding-left: 116px;
    padding-top: 13px;
}

.icon_footer_introduce {
    font-size: 36px;
    color: white;
    opacity: 0.6;
    padding-left: 10px;
}

.slide-page.active {
    opacity: 1;
}

.slide-page:hover {
    cursor: pointer;
}

.slide_outsanding {
    text-align: center;
}