<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="business">

        <div class="business_top">
            <div class="business_areas">Lĩnh vực kinh doanh</div>
        </div>
        <div class="business_bottom">
            <div id="business_top"></div>
            <div class="aspects">
                <ul>
                    <li class="lifirst">
                        <i class="caret_right fas fa-caret-right"></i>
                        Quản lý - vận hành bất động sản
                    </li>
                    <li class="lifirst">
                        <i class="caret_right fas fa-caret-right"></i>

                        Thẩm định giá bất động sản
                    </li>
                    <li class="lifirst">
                        <i class="caret_right fas fa-caret-right"></i>

                        Tư vấn M&A bất động sản
                    </li>
                    <li class="lifirst">
                        <i class="caret_right fas fa-caret-right"></i>

                        Tư vấn phát triển dự án bất động sản
                    </li>
                    <li class="lifirst">
                        <i class="caret_right fas fa-caret-right"></i>

                        Tiếp thị và phân phối bất động sản
                    </li>
                    <li class="lifirst">
                        <i class="caret_right fas fa-caret-right"></i>

                        Quản lí-vận hành bất động sản
                    </li>
                </ul>
            </div>
            <div class="image_business"><img
                    src="http://dkra.vn/pictures/catalog/home/banner/banner-linh-vuc-kinh-doanh.jpg" id="image_business"
                    alt="Lĩnh vực kinh doanh"></div>
        </div>
    </div>
</body>

</html>