<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container_event">
        <div id="event">
            <div class="event1"></div>
            <div class="event">Sự kiện</div>
            <div class="event1"></div>
        </div>
        <div class="btn_event"><a href="" class=event_happen>SỰ KIỆN ĐÃ DIỄN RA</a></div>
        <div>
            <div>
                <div class="done-pic">
                    <div class="pic-img"
                        style="background-image: url(&quot;http://dkra.vn/pictures/catalog/rd-42021/1200x600-2.jpg&quot;);">
                        <img src="http://dkra.vn/pictures/catalog/rd-42021/1200x600-2.jpg"
                            alt="BÁO CÁO THỊ TRƯỜNG BĐS NHÀ Ở TP.HCM &amp; VÙNG PHỤ CẬN QUÝ 1/2021">
                    </div>
                    <div class="done-title">
                        <h3>BÁO CÁO THỊ TRƯỜNG BĐS NHÀ Ở TP.HCM &amp; VÙNG PHỤ CẬN QUÝ 1/2021</h3>
                    </div>
                    <div class="date-thumb">08<span>04 - 2021</span></div>
                </div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>

</html>