<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<body>
    <div class="container_header">
        <div class="image_logo">
            <img src="../image/logo.jpg" class="logo">
        </div>
        <div class="nav">
            <div >Giới thiệu</div>
            <div class="nav_child"> Công ty thành viên</div>
            <div class="nav_child">Dịch vụ</div>
            <div class="nav_child"> Dự án</div>
            <div class="nav_child">Sự kiện</div>
            <div class="nav_child"> Tin tức</div>
            <div class="nav_child">Thư viện</div>
            <div class="nav_child">Tuyển dụng</div>
            <div class="nav_child"> liên hệ</div>

        </div>
        <div class="right_nav">
            <div id="search">
                <a href=""><i class="search fas fa-search"></i></a>
            </div>
            <div>
                <a><button class="english">EN</button></a>
            </div>
        </div>
    </div>
    
</body>

</html>